      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :address %>
      </div>

      <div class="col-md-7">
        <%= ud.text_field :address %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :city %>
      </div>
      <div class="col-md-7">
        <%= ud.text_field :city %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= f.label :avatar %>
      </div>

      <div class="col-md-7">
        <%= f.file_field :avatar %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :pincode %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :pincode %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :phone %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :phone %>
      </div>

      <div class="col-md-12">
        <br>
      </div>

      <div class="col-md-7 col-md-offset-5">
        <%= ud.submit "Save Changes" %>
      </div>