<div class="row color-e9e2e2">
  <div class="col-md-12">
    <br><br>    
  </div>
  <%= form_for User.find_by(id: session[:user_id]),  method: :put, :html => { :multipart => true } do |f| %>



    <div class="col-md-1 col-md-offset-4 center">
        <%= f.label :avatar %>
      </div>

      <div class="col-md-7">
        <%= f.file_field :avatar %>
      </div>

      


<%debugger%>


    <%= f.fields_for :user_detail do |ud| %>
    <%debugger%>
      <%= render 'user_detail', f: task %>
    <% end %> 

    <div class="col-md-12">
      <br>
    </div>

    <div class="col-md-12">
      <br><br><br><br><br><br><br><br><br>
    </div>
  <% end %>
</div>