<%= form_for :user, url: users_path do |f| %>
 <div class="row color-e9e2e2">
  <div class="col-md-12">    
  </div>

  <div class="panel panel-info">
    <div class="panel-heading center">
      <h1>Registration Form</h1> 
    </div>
    <div class="panel-body"> 
     <div class="col-md-12 center">
      <% if @user.errors.any? %>
       <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
            this form from being saved:
       </h2>
       <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       </ul>
        <% end %>
      <% end %>
     </div>   
    </div>
  </div>

  <div class="main-center">

    <div class="form-group">
      <%= f.label :firstname, id: "", class: "cols-sm-2 control-label" %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <%= f.text_field :firstname,class:"form-control", :required => true, placeholder: "Enter your name" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lastname, class: "cols-sm-2 control-label" %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <%= f.text_field :lastname,class:"form-control", :required => true, placeholder: "Enter your last name" %>
        </div>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :email ,class:"cols-sm-2 control-label" %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          <%= f.text_field :email, :required => true,placeholder:"Enter your Email", class:"form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class:"cols-sm-2 control-label" %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <%= f.password_field :password,class:"form-control",placeholder:"Enter your Password", :required => true %>
        </div>
      </div>
    </div> 

    <div class="form-group">
      <%= f.label :gender, class:"cols-sm-2 control-label" %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <%= f.radio_button :gender, false %>Male
          <%= f.radio_button :gender, true %>Female 
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :dob %>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <%= f.date_select("dob", {start_year: 1995, end_year: Date.current.year}) %>
        </div>
      </div>
    </div>

    <div class="form-group ">
      <%= f.submit "Create Account", class:"btn btn-primary btn-lg btn-block login-button" %>
    </div>

    <div class="form-group">
      <%= link_to 'Click here to logIn', root_path %>
    </div>
  </div>

 </div>
<% end %>
