<%= form_for @project,  method: :put do |f| %>

    <%= f.text_field :description %>
    <%= f.label :name %>
  
    <h3>Tasks</h3>
    
    <div id="tasks">
      
      <%= f.fields_for :tasks do |task| %>
        <%= task.label :description %>
        <%= task.text_field :description %>
      

      <div class="links">
        <%= link_to_add_association 'add task', f, :tasks %>
      </div>
    </div>
    
    <%= task.submit "Save" %>
    <% end %>
<% end %>
